@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
* {
  font-family: "Open Sans", "sans-serif";
}

.bg-hero {
  background-image: url(./assets/mobile/image-hero-mobile.svg);
}

.scale-y::before {
  transform: scaleY(0);
}

.scale-y:hover::before {
  transform: scaleY(1);
}

@media screen and (min-width: 768px) {
  .bg-hero {
    background-image: url(./assets/tablet/image-hero-tablet.svg);
  }
}

@media screen and (min-width: 1360px) {
  .bg-hero {
    background-image: url(./assets/desktop/image-hero-desktop.svg);
  }
}
